 @import url("temas-colores-fuentes.css");

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;

 }

 h2 {
    font-family: 'Roboto Mono', monospace;
 }

 body {
    background-color: #000000;
    color: #f4f1f1;
    overflow-x: hidden;
    max-width: 100%;
 }

 body.whiteMode {
    color: #1d1816;
    background-color: #f4f1f1;
 }

 a {
    color: #e80c4c;
 }



 .logo {
    font-size: 2em;
    font-weight: bold;
    color: #59a3e8
 }

 .search-bar {
    max-width: 100%;
    min-width: 0;
 }

 .search-input {
    width: 100%;
    /* Make input fill its container */
    padding: 1em;
    border: 1px solid #0066ff;
    border-radius: 1rem;
    /* Rounded corners */
 }

 .icons {
    justify-content: space-around;
    /* Distribute space around icons */
    display: flex;
    /* Use flexbox for icons */
    gap: 1em;
    /* Add space between icons */
    padding-right: 2em;
 }

 .icon {
    /* Add icon specific styles */
    font-size: 1rem;
    color: #e80c4c;
    /* Medium gray text */
 }

 .carousel-section {
    width: 100%;
    /* Make section take full width */
    margin-top: 1rem;
    /* Add space above the section */
    padding: 1rem;
    background-color: #e5e7eb;
    /* Lighter gray background */
 }

 /* Style the container within the carousel section */
 .carousel-section .container {
    max-width: 960px;
    /* Limit max width of the container */
    margin: 0 auto;
    /* Center the container */
 }

 /* Style the carousel placeholder */
 .carousel-placeholder {
    text-align: center;
    padding: 2rem;
    color: #6b7280;
    /* Gray text */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }



 .detalle-articulo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columnas */
    gap: 20px;
    align-items: center;
    margin-left: 10em;
    margin-right: 10em;
    display: none;
 }

 .item-valor-nombre,
 .item-valor-autor {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6em;
 }


 .articulo-categoria {
    border: solid 15px #0ce926;
    height: auto;
    width: auto;
    float: left;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
 }

 .articulo-categoria h4 {
    color: rgb(255, 255, 255);
 }

 .articulo-categoria p {

    font-weight: bold;
    text-transform: uppercase;
 }


 #footer-principal {
    display: flex;
    justify-content: center;
    gap: 10em;
    background-color: #cc0b42;
    color: white;
    padding: 3em;

 }

 #footer-principal-izquierda,
 #footer-principal-derecha,
 #footer-principal-centro {

    background-color: #000000;
    border-radius: 1em;
    padding: 5em;
    padding-top: 3em;
    border: 0.2em solid;
    border-color: #0ce926;
 }


 #qr-code {
    display: flex;
    text-align: center;
    width: 10em;
    height: 10em;

 }

 #columna {
    display: flex;
    justify-content: center;

    gap: 1em;
 }

 #encabezado-principal {
    background-color: #201918;
    padding-top: 1rem;
    /* Padding vertical  */
    padding-bottom: 1rem;
    display: flex;
    /* Usa Flexbox */
    justify-content: space-between;
    /* Distribute space between items */
    align-items: center;
    /* Centra verticalmente */
    flex-wrap: wrap;
 }

 #encabezado-principal.whiteMode {
    background-color: #fefcfb;
    color: #1d1816;
 }

 #navegacion-categoria {
    display: flex;
    background-color: #0ce926;
    padding: 1em;
    gap: 2em;
    justify-content: center;

 }

 #navegacion-categoria a {
    background-color: #e80c4c;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 2em;

    border: 2px solid #b90b3c;
    border-radius: 3em;
    color: #201918;
    font-weight: bold;
    transition: background-color 0.3s;
 }

 #navegacion-categoria a:hover {
    background-color: #db6f8e;
 }

 #seccion-categoria {
    min-height: auto;
    background-color: #201918;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1500px;
    margin: 0 auto;
 }

 #seccion-categoria.whiteMode {
    min-height: auto;
    background-color: #fefcfb;
    color: #1d1816;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1500px;
    margin: 0 auto;
 }




 @media screen and (max-width: 800px) {

    * {
       font-size: 80%;
    }


    .search-bar {
       margin-left: 1rem;
       /* Margen a la izquierda del buscador */
       margin-right: 1rem;
       /* Margen a la derecha del buscador */
       flex-grow: 1;
       /* Permite que el buscador crezca */
       width: 80%;
       /* Ancho automático en desktop */
       margin-bottom: 0;
       /* Elimina margen inferior en desktop */
       min-width: 0;
       /* Permite que el elemento se encoja más allá de su contenido */
       padding: 1em;
    }

    .icons {
       width: 100%;
       /* Make icons full width */
       justify-content: space-around;
       /* Distribute space around icons */
    }

    .item-valor-portada {
       max-width: 50%;
    }

    #encabezado-principal {
       flex-direction: column;
       /* Stack items vertically on small screens */

       align-items: center;
       /* Align items to the start */
    }

    #navegacion-categoria {
       flex-direction: column;
       align-items: center;
    }

    #seccion-categoria {
       min-height: auto;
       background-color: black;
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       max-width: 80%;
       margin: 0 auto;
    }
 }




 #modal {
    background-color: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    display: none;
 }

 #categoria-item-modal {
    width: 100%;
    height: 100%;
    background-color: black;
    border: 3px solid red;
    color: white;
    text-align: center;
 }

 #categoria-item-modal p,
 h4 {
    padding: 10px;
 }



 .ico-fav{
   height: 100px;
   position: absolute;
   margin-left: 14%;
 }