/* estilos-recuperar-password.css */

/* Fondo general y centrado del login */
@import url(estilo-principal.css);
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(10deg, #000000, #0ce926);
}

/* Header con logo e íconos centrados */
#encabezado-principal {
    background-color: #000;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.icons {
    display: flex;
    gap: 1.2em;
}

.icon {
    font-size: 1.2rem;
    color: #e80c4c;
}



.contenedor-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Estilo del cuadro de login */
.login-box {
    background-color: #0ce926;
    padding: 3rem 3rem;
    border-radius: 3rem;
    margin: 3rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 400px;
    animation: fadeIn 0.8s ease-in-out;
}
.login-box.whiteModes{
    background-color: #f20f50;
    color: rgb(0, 0, 0);
}

/* Título del login */
.login-box h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
}

/* Inputs */
.input-box {
    margin-bottom: 1.5rem;
    position: relative;
}

.input-box input {
    box-sizing: border-box; /*no se sobresalen del imputbox*/
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 15px;
}

.input-box input:focus {
    box-shadow: inset 0px 0px 30px #0cb6483c;
    border-color:#0cb648;
}

.botones{
    display:flex;
    justify-content: space-between;
    justify-self: center;
    gap: 20px;
}

/* Botón */
button.cambiar{
    padding: 12px;
    border: none;
    background-color: #3a693f;
    text-align: center;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 1s;
}
button.salir{
    margin-top: 1.5rem;
    padding: 12px;
    border: none;
    background-color: #a40202;
    text-align: center;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 1s;
}

button.cambiar:hover {
    background-color: #0ce926;
    color : black;
}

button.salir:hover {
    background-color: #ff0101;
    color : black;
}

.login-box p{
    color: #ffffff;
    font-weight: lighter;
}

/* Links adicionales */
.extra-links {
    margin-top: 1rem;
    text-align: center;
}

.extra-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.extra-links a:hover {
    text-decoration: underline;
}




