/* URL Paleta de colores LIGHT: https://www.coloreasily.com/?colors=1d1816-fefcfb-0ce926-3A693F-E80C4C */
/* URL Paleta de colores DARK: https://www.coloreasily.com/?colors=f4f1f1-201918-0ce926-3A693F-E80C4C */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Cabin');
@import url('https://fonts.googleapis.com/css2?family=Mulish');

:root {
  --color-texto: var(--light-color-texto);
  --color-fondo: var(--light-color-fondo);
  --color-acento-1: var(--light-color-acento-1);
  --color-acento-2: var(--light-color-acento-2);
  --color-acento-3: var(--light-color-acento-3);


   --light-color-texto: #1d1816;
   --light-color-fondo: #fefcfb;
   --light-color-acento-1: #0ce926;
   --light-color-acento-2: #3a693f;
   --light-color-acento-3: #e80c4c;
   
   --dark-color-texto: #f4f1f1;
   --dark-color-fondo: #201918;
   --dark-color-acento-1: #0ce926;
   --dark-color-acento-2: #3a693f;
   --dark-color-acento-3: #e80c4c;
}

 .light-theme {
   color: var(--light-color-texto);
   background-color: var(--light-color-fondo);
}

.dark-theme {
   color: var(--dark-color-texto);
   background-color: var(--dark-color-fondo);
}



.Roboto{
   font-family: 'Roboto Mono', monospace;
}
.Cabin{
   font-family: 'Cabin', sans-serif;
}
.Mulish{
     font-family: 'Mulish', sans-serif;
}
